/* Untuk Tablet */
@media all and (max-width: 1000px) {

    .show,
    .icon,
    input {
        display: none;
    }

    nav ul {
        margin-right: 0px;
        float: left;
    }

    nav .logo {
        padding-left: 20px;
        width: 100%;
    }

    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul ul {
        position: static;
    }

    nav ul ul a {
        padding-left: 40px;
    }

    .show {
        display: block;
        color: black;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover {
        color: cyan;
    }

    .icon {
        display: block;
        color: black;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul li a:hover {
        box-shadow: none;
        color: cyan;
    }

    .show+a,
    ul {
        display: none;
    }

    [id^=btn]:checked+ul {
        display: block;
    }


    .person {
        width: 50%;
        margin-bottom: 20px;
    }

    .top-wrapper h1 {
        font-size: 32px;
    }

    .heading h2 {
        font-size: 20px;
    }
}

/* Untuk Smartphone */
@media all and (max-width: 670px) {

    .show,
    .icon,
    input {
        display: none;
    }

    nav ul {
        margin-right: 0px;
        float: left;
    }

    nav .logo {
        padding-left: 20px;
        width: 100%;
    }

    nav ul li,
    nav ul ul li {
        display: block;
        width: 100%;
    }

    nav ul ul {
        top: 70px;
        position: static;
        border-top: none;
        float: none;
        display: none;
        opacity: 1;
        visibility: visible;
    }

    nav ul ul ul {
        position: static;
    }

    nav ul ul a {
        padding-left: 40px;
    }

    .show {
        display: block;
        color: black;
        font-size: 18px;
        padding: 0 20px;
        line-height: 70px;
        cursor: pointer;
    }

    .show:hover {
        font-size: black;
    }

    .icon {
        display: block;
        color: black;
        position: absolute;
        right: 40px;
        line-height: 70px;
        font-size: 25px;
        cursor: pointer;
    }

    nav ul li a:hover {
        box-shadow: none;
        color: cyan;
    }

    .show+a,
    ul {
        display: none;
    }

    [id^=btn]:checked+ul {
        display: block;
    }


    .person {
        width: 100%;
    }

    footer {
        text-align: center;
    }

    .facebook {
        margin-bottom: 10px;
    }

    .top-wrapper {
        text-align: left;
    }

    /* Tambahkan CSS untuk header-right */
    .header-right {
        display: none;
    }

    /* Tambahkan CSS untuk menu-icon */
    .menu-icon {
        display: block;
    }

    .top-wrapper h1 {
        font-size: 24px;
        line-height: 36px;
    }

    .top-wrapper p {
        font-size: 14px;
        line-height: 20px;
    }

    .main h1 {
        font-size: 50px;
    }
}
