@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@200&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: 'Josefin Sans', sans-serif;
}

html,
body {
    padding: 0;
    margin: 0;
    font-family: 'Josefin Sans', sans-serif;
    background: lightskyblue;
}

.clear {
    clear: left;
  }


/* header */
header {
    height: 60px;
    width: 100%;
    background-color: lightskyblue;
    position: fixed;
    top: 0;
    z-index: 10;
    opacity: 0.8;
}

.page-wrapper {
    height: 100px;
}

nav {
    background: transparent;
    border-bottom: 3px solid black;
}

nav:after {
    content: '';
    clear: both;
    display: table;
}

nav .logo {
    float: left;
    color: black;
    font-size: 40px;
    line-height: 50px;
    padding-left: 20px;
    font-weight: bold;
}

nav ul {
    float: right;
    list-style: none;
    margin-right: 40px;
    position: relative;
    background-color: lightskyblue;
}

nav ul li {
    float: left;
    display: inline-block;
    color: rgb(0, 0, 0);
    margin: 0 5px;
}

nav ul li a {
    color: rgb(0, 0, 0);
    text-decoration: none;
    line-height: 50px;
    font-size: 18px;
    padding: 8px 15px;
}

nav ul li a:hover {
    box-shadow: 0 0 5px white, 0 0 5px white;
}

nav ul ul li a:hover {
    color: cyan;
    box-shadow: none;
}

nav ul ul {
    position: absolute;
    top: 50px;
    border-top: 3px solid cyan;
    opacity: 0;
    visibility: hidden;
    transition: top .3s;
}

nav ul ul ul {
    border-top: none;
}

nav ul li:hover>ul {
    opacity: 1;
    visibility: visible;
}

nav ul ul li {
    position: relative;
    margin: 0px;
    width: 140px;
    float: none;
    display: list-item;
    border-bottom: 1px solid rgba(0, 0, 0, 0.3);
}

nav ul ul li a {
    line-height: 50px;
}

nav ul ul ul li {
    position: relative;
    top: -70px;
    left: 150px;
}


/* responsif header */


.show,
.icon,
input {
    display: none;
}

/* main */
a {
    text-decoration: none;
}

span {
    color: lightskyblue;
    font-weight: bold;
}

.main {
    padding: 200px 0 50px 0;
    background-image: url(https://i.ibb.co/7Cdx6Xw/1-min.jpg);
    background-size: cover;
    color: white;
    text-align: center;
}

.main h1 {
    opacity: 1;
    font-size: 60px;
    margin-bottom: 50px;
}

.main h2 {
    font-size: 40px;
    margin-bottom: 15px;
}

.main ul {
    text-align: center;
    font-size: 20px;
}

.main li {
    margin-bottom: 8px;
}

.btn-wrapper {
    margin: 50px 0;
}

.btn-wrapper p {
    margin: 10px 0;
}

.seemore {
    background-color: lightskyblue;
    opacity: 0.8;
}


.btn {
    padding: 12px 24px;
    color: white;
    display: inline-block;
    border-radius: 4px;
    font-weight: bold;
}

.btn:hover {
    opacity: 1;
}

.fa {
    margin-right: 5px;
    color: white;
}


/* card profile */
.person-wrapper {
    padding-bottom: 80px;
    padding-left: 5%;
    padding-right: 5%;
    text-align: center;
}

.person {
    float: left;
    width: 33.33%;
}

.person-icon {
    position: relative;
    display: inline-block;
}

.person-icon p {
    padding-top: 10px;
    width: 100%;
    color: black;
    font-weight: bold;
    font-size: 24px;
}

.text-contents {
    width: 80%;
    display: inline-block;
    margin-top: 15px;
    font-size: 16px;
    color: black;
    margin-bottom: 30px;
    
}

.heading {
    padding-top: 50px;
    padding-bottom: 50px;
    color: black;
}

.heading h1 {
    color: black;
}


/* footer */
footer .container {
    background-color: black;
    color: white;
    text-align: center;
    font-size: 20px;
    padding: 10px;
}
